/*  -------- BODY ------------- */

body{
  background-color: #2b2d42;
}

p{
  font-size: 1.5rem;
}

.app{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.calculator{
  align-items: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}





/*  -------- BUTTONS ------------- */

.buttons-array{
  align-items: center;
  background-color: #edf2f4;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.button-number{
  border: 0.5px solid #ef233c;
  box-shadow: 2px 3px #ef233c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 5px ;
  width: 60px;
}

.button-number:hover{
  background-color: #2b2d42;
  color: #d90429;
  cursor: pointer;
}


/*  -------- DISPLAY ------------- */

.display{
  background-color: #8d99ae;
  min-height: 100px;
  border-radius: 3px;
  width: 300px;
}

.input{
  display: inline-block;
  margin: 5% 0 0 5%;
}

#answer{
  display: block;
  padding-right: 5%;
  text-align: right;
  color: #d90429;
}